### Have the function LetterCountI(str) take the str parameter being passed and return the first word with the greatest number of repeated letters

In [ ]:
# For example: "Today, is the greatest day ever!" should return greatest because it has 2 e's (and 2 t's) and it comes before ever
#which also has 2 e's. If there are no words with repeating letters return -1. Words will be separated by spaces.

In [11]:
def LetterCount(st):
    greatest = ""
    greatest_count = 0
    
    l1 = st.split()
    print(l1)
    
    def letter_count(word):
        d = {}
        c= 0
        for letter in word:
            try:
                d[letter]+=1
            except:
                d[letter] = 1
        for letter in d:
            if d[letter]>1:
                c += d[letter]
        return c
    
    for word in l1:
        cnt = letter_count(word)
        if cnt > greatest_count:
            greatest_count = cnt
            greatest = word
    return greatest,greatest_count

In [12]:
LetterCount("Today, is the greatest day ever!")

['Today,', 'is', 'the', 'greatest', 'day', 'ever!']

('greatest', 4)

### Have the function MeanMode(arr) take the array of numbers stored in arr and return 1 if the mode equals the mean, 
0 if they don't equal each other (ie. [5, 3, 3, 3, 1] should return 1 because the mode (3) equals the mean (3)). 
The array will not be empty, will only contain positive integers, and will not contain more than one mode.

In [5]:
def meanMode(lst):
    
    d = {}
    mode = 0
    for i in lst:
        try:
            d[i]+=1
        except:
            d[i]=1

    for i in d:
        if d[i] == max(d.values()):
            mode = i
   
    
    mean = sum(lst)/len(lst)
    if mode == mean:
        return 1
    else:
        return 0

In [6]:
meanMode([5, 3, 3, 3, 1])

1

In [11]:
MeanMode([1, 2, 2, 3, 3, 3, 4, 4, 5])

In [12]:
MeanMode([1,2,3])

### Have the function PrimeMover(num) return the numth prime number. The range will be from 1 to 10^4. For example: if num is 16 the output should be 53 as 53 is the 16th prime number.

In [3]:
def PrimeMover(num):
    lst = []
    cnt = 0
    m = 10**4
    for i in range(2,m+1):
        for j in range (i+1,m+1):
            if i%j == 0:
                cnt+=1
        if cnt==0:
            lst.append(i)
        else:
            cnt = 0
      
    return lst[num-1]

In [4]:
PrimeMover(1)

2

In [5]:
PrimeMover(2)

3

In [7]:
def PrimeMover(num):
    limit = 10**5  # Adjust the limit as needed to find the nth prime number
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False
    prime_count = 0

    for current in range(2, limit + 1):
        if sieve[current]:
            prime_count += 1
            if prime_count == num:
                return current
            for multiple in range(current * current, limit + 1, current):
                sieve[multiple] = False

# Example usage:
 # This will print the 10th prime number

In [8]:
nth_prime = PrimeMover(2)
print(nth_prime)

3

### Count num of digit in a integer

In [5]:
def count(x):
    cnt = 0
    while x>0:
        x//=10
        cnt+=1
        
    return cnt

In [6]:
count(231)

3

In [7]:
# 2nd approch
def count(x):
    x = len(str(x))
    return x

In [10]:
count(231)

3

### Write a Python program to reverse a integer in python

In [15]:
def rev(x):
    x= str(x)
    x = x[-1::-1]
    return x

In [16]:
rev(8983)

'3898'

In [31]:
# 2nd approch

def rev1(x):
    reverse = 0
    while x>0:
        last_digit = x%10
        reverse = reverse*10 + last_digit  
        x = x//10

    return reverse

In [32]:
rev1(8943)

3498

### Write a program in Python to check whether an integer is Armstrong number or not.

#### it's a number such , each raised to the power of the number of digits in the number, is equal to the number itself.

In [6]:
def arm(x):
    sum = 0
    s = str(x)
    l = len(s)
    for i in s:
        sum +=int(i)**l
    if sum == x:
        return "Armstrong"
    else:
        return "Not Armstrong"

In [7]:
arm(153)

'Armstrong'

In [8]:
arm(27)

'Not Armstrong'

In [17]:
# 2nd Approch

def arm1(x):
    l = len(str(x))
    temp = x
    sum = 0
    while x>0:
        last = x%10
        sum += last**l
        x//=10
    if sum == temp:
        return "Armstrong"
    else:
        return "Not Armstrong"

In [18]:
arm1(153)

'Armstrong'

### Write a program in Python to check given number is prime or not.

In [9]:
def prime(n):
    if n == 0 or n == 1:
        return "neither prime nor composite"
    cnt = 0
    for i in range(2,n):
        if n%i == 0:
            cnt +=1
    if cnt > 0:
        return "not prime"
    else: 
        return "prime"

In [10]:
prime(230)

'not prime'

In [11]:
prime(3)

'prime'

In [28]:
# 2nd approch
# When you multiply two numbers
# together to get a product, at least one of the numbers must be less than or equal to the square root of the product.
def prime1(x):
    for i in range(2,int(x**0.5)+1):
        if x%i== 0:
            return "not Prime"
        else:
            return "prime"

In [29]:
prime1(250)

'not Prime'

In [30]:
prime1(5)

'prime'

### Write a program in Python to print the Fibonacci series using iterative method.

In [41]:
def fib(x):
    lst=[0,1]
    for i in range(x-2):
        lst.append(lst[i]+lst[i+1])
    return lst

In [42]:
fib(5)

[0, 1, 1, 2, 3]

### Write a program in Python to check whether a number is palindrome or not using iterative method.

In [15]:
def pal(x):
    x = str(x)
    if x == x[::-1]:
        return "palindrome"
    else:
        return "Not palindrome"

In [16]:
pal(151)

'palindrome'

In [17]:
pal(453)

'Not palindrome'

In [52]:
# 2nd approch

def pal1(x):
    rev =0
    temp =x
    while x>0:
        last = x%10
        rev = rev*10 + last
        x//=10
    if rev == temp:
        return "palindrome"
    else:
        return "Not palindrome"

In [53]:
pal1(151)

'palindrome'

In [54]:
pal1(150)

'Not palindrome'

### Write a program in Python to find greatest among three integers.

In [57]:
def greatest(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z

In [58]:
greatest(1,2,3)

3

### Write a program in Python to check if a number is binary?

In [65]:
def is_binary(number_str):
    # Loop through each character in the string
    for digit in number_str:
        if digit not in ('0', '1'):
            return "Not Binary"  # If any character is not '0' or '1', it's not binary
    return "Binary"

In [67]:
is_binary("100")

'Binary'

In [68]:
is_binary("102")

'Not Binary'

### Write a program in Python to find sum of digits of a number

In [3]:
def sumd(x):
    sum=0
    x  = str(x)
    for i in x:
        sum+= int(i)
    return sum

In [4]:
sumd(23)

5

In [5]:
# 2nd approch

In [10]:
def sumd1(x):
    sum=0
    while x>0:
        n = x%10
        sum+=n
        x//=10
    return sum

In [12]:
sumd1(23)

5

### Write a program in Python to swap two numbers without using third variable?

In [30]:
def swap(x,y):
 
    x = str(x)
    y = str(y)
    l1 = len(x)
    l2 = len(y)
    x = x+y
    y =x[0:l1]
    x= x[l1:]
    return int(x),int(y)

In [31]:
swap(3,2)

(2, 3)

In [32]:
swap(52,17)

(17, 52)

In [33]:
swap(104,108)

(108, 104)

In [18]:
# 2nd approch 
def swap1(a,b):

    a=a-b
    b=a+b
    a=b-a
    return a,b

In [19]:
swap1(2,3)

(3, 2)

In [37]:
swap1(149,523)

(523, 149)

In [38]:
swap1(23,142)

(142, 23)

In [40]:
# 3rd approch

In [41]:
def swap2(y,x):
    return x,y

In [42]:
swap2(23,42)

(42, 23)

### Write a program in Python to find prime factors of a given integer.

In [16]:
def pfac(n):
    i =2 
    fact = []
    while i*i <=n:
        if n%i:
            i+=1
        else:
            n//=i
            fact.append(i)
    if i>1:
        fact.append(i)
    return fact

In [17]:
pfac(12)

[2, 2, 2]

In [20]:
pfac(50)

[2, 5, 5]

### Write a program in Python to find given number is perfect or not

In [23]:
def per(x):
    s = 0
    for i in range(1,x):
        if x%i == 0:
            s+=i
    if s == x:
        return "Perfect"
    else:
        return "Not Perfect"

In [24]:
per(6)

'Perfect'

In [25]:
per(5)

'Not Perfect'

In [26]:
per(28)

'Perfect'

### Find Factorial

In [34]:
def fact(x):
    fact = 1
    for i in range(1,x+1):
        fact*=i
    return fact

In [36]:
fact(4)

24

In [37]:
fact(5)

120

### Python Program to print Prime Number in a given range.

In [ ]:
# In Python, the else clause in a for loop can be used 
#to execute a block of code when the loop completes normally, i.e., without encountering a break statement.

In [1]:
def p_range(x):
    lst = []
    for i in range(2,x+1):
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            lst.append(i)
    return lst

In [7]:
p_range(3)

[2, 3]

In [6]:
for i in range(2,2):
    print(i)

### Python Program to calculate the power without using POW function

In [8]:
#2nd approch

def p(num,power):
    
    result = 1
    for i in range(power):
        result*=num
    return result

In [9]:
p(5,4)

625

In [16]:
p(5,0)

1

### Python Program to Convert Decimal Number into Binary.

In [17]:
def bi(num):
    return bin(num)

In [18]:
x= bi(10)

In [19]:
x

'0b1010'

In [11]:
#2nd approch

def bi(x):
    bindigi = ""
    while x>0:
        r = x%2
        bindigi+=str(r)
        x //=2
    return bindigi[::-1]

In [12]:
bi(20)

'10100'

### Python Program to check the given year is a leap year or not.

In [35]:
#The year must be evenly divisible by 4.
# If the year is divisible by 100, then it must also be divisible by 400.

def leap(x):
    if x%4 ==0:
        if x% 100 ==0:
            if x%400 ==0:
                return "Its a leap year"
            else:
                return "Its not a leap year"
        else:
            return "Its  a leap year"
    else: 
        return "Its not a leap year"

In [36]:
leap(2000)

'Its a leap year'

In [37]:
leap(2023)

'Its not a leap year'

In [1]:
# what do you mean by list comprhension in python
# list comprehension is the short and elegant way to define a list from the existing list

In [65]:
l1 = [1,2,3,4,5,6,7,8]
l2 = [i for i in l1 if i%2==0]
l2

[2, 4, 6, 8]

In [73]:
l_st = [i if i%2 ==0 else i+1  for i in l1 ]
l_st

[2, 2, 4, 4, 6, 6, 8, 8]

In [66]:
#find the square of each number in the list using apply

In [67]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [68]:
l2  = list(map(lambda x:x*x,l1))

In [ ]:
# show use of eval

# eval is used to determine the type of input(default python takes string)

In [26]:
s = eval(input("enter "))

enter 100

In [27]:
type(s)

int

In [28]:
s = eval(input("enter "))

enter 100.23

In [29]:
type(s)

float

In [ ]:
# map : map means maps each element in the list to the condition it doesnot filter the list it return all element value
# wrt to that function

In [30]:
t1 = tuple(l1)

In [31]:
t1

(1, 2, 3, 4, 5, 6, 7, 8)

In [44]:
t2 = tuple(map(lambda x:x%2==0 ,t1))

In [45]:
t2

(False, True, False, True, False, True, False, True)

In [ ]:
# filter : it filter the list based on the particular condition

In [42]:
t3 = tuple(filter(lambda x: x%2==0 ,t1)) # the same u can achieve with list comprehension but for list only not for tuple
# for tuple u have to use  filter

In [43]:
t3

(2, 4, 6, 8)

In [ ]:
#In summary, map applies a function to each element and returns the transformed values in an 
#iterable, while filter applies a function to each element and returns only the elements that satisfy a specific condition

In [48]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
l1= [i for i in l1 if i %2 ==0]
l1

[2, 4, 6, 8]

In [ ]:
#append and extend in list

In [53]:
l1

[2, 4, 6, 8]

In [54]:
l1.append(12)

In [55]:
l1

[2, 4, 6, 8, 12]

In [57]:
# i want to add 12 and 13 in the list in one go
l1.append([12,13])
l1

[2, 4, 6, 8, 12, [12, 13], [12, 13]]

In [ ]:
# above ans is wrong

In [58]:
l1.extend([12,13,14]) # to add morre than one element we use extend
l1

[2, 4, 6, 8, 12, [12, 13], [12, 13], 12, 13, 14]

In [60]:
import pandas as pd
data = {'car':['Altroz','Nexon','Harier','Safari','Punch'],
        'Mileage':[18,15,10,8,24]}
df = pd.DataFrame(data)
df

      car  Mileage
0  Altroz       18
1   Nexon       15
2  Harier       10
3  Safari        8
4   Punch       24

In [ ]:
# create a col which show low mileage if mileage less than 10 and show high if greater than 10

In [62]:
df['mlg']= df['Mileage'].apply(lambda x:"low" if x<=10 else "High")
df

      car  Mileage   mlg
0  Altroz       18  High
1   Nexon       15  High
2  Harier       10   low
3  Safari        8   low
4   Punch       24  High

In [ ]:
# data frame : apply 
#list : map and filter

In [2]:
# factorial of a number


lst = [0,1]
for i in range(1,5):
    n = lst[i]+lst[i-1]
    lst.append(n)
lst

[0, 1, 1, 2, 3, 5]

In [12]:
# second highest
lst = [4,2,4,3,2,4,1,5]
lst = list(set(lst) )# converting to set for removing duplicated values
lst.sort()
lst[-2]

4

In [16]:
lst = ['Arun','sas','pop','pizza']

def pal(lst):
    for i in lst:
        if i == i[::-1]:
            print(f"The string {i} is plaindrome")
        else:
            print(f"The string {i} is not plaindrome")

The string Arun is not plaindrome
The string sas is plaindrome
The string pop is plaindrome
The string pizza is not plaindrome

In [43]:
lst = ['Arun','sas','pop','pizza']
def pal(text):
    return text == text[::-1]

In [29]:
lst = list(filter(pal,lst))

In [30]:
lst

['sas', 'pop']

In [44]:
lst = list(map(pal,lst))

In [45]:
lst

[False, True, True, False]