### Have the function LetterCountI(str) take the str parameter being passed and return the first word with the greatest number of repeated letters

In [ ]:
# For example: "Today, is the greatest day ever!" should return greatest because it has 2 e's (and 2 t's) and it comes before ever
#which also has 2 e's. If there are no words with repeating letters return -1. Words will be separated by spaces.

In [ ]:
def LetterCount(st):
    greatest = ""
    greatest_count = 0
    
    l1 = st.split()
    print(l1)
    
    def letter_count(word):
        d = {}
        c= 0
        for letter in word:
            try:
                d[letter]+=1
            except:
                d[letter] = 1
        for letter in d:
            if d[letter]>1:
                c += d[letter]
        return c
    
    for word in l1:
        cnt = letter_count(word)
        if cnt > greatest_count:
            greatest_count = cnt
            greatest = word
    return greatest,greatest_count

In [ ]:
LetterCount("Today, is the greatest day ever!")

### Have the function MeanMode(arr) take the array of numbers stored in arr and return 1 if the mode equals the mean, 
0 if they don't equal each other (ie. [5, 3, 3, 3, 1] should return 1 because the mode (3) equals the mean (3)). 
The array will not be empty, will only contain positive integers, and will not contain more than one mode.

In [ ]:
def meanMode(lst):
    
    d = {}
    mode = 0
    for i in lst:
        try:
            d[i]+=1
        except:
            d[i]=1

    for i in d:
        if d[i] == max(d.values()):
            mode = i
   
    
    mean = sum(lst)/len(lst)
    if mode == mean:
        return 1
    else:
        return 0

In [ ]:
meanMode([5, 3, 3, 3, 1])

In [ ]:
MeanMode([1, 2, 2, 3, 3, 3, 4, 4, 5])

In [ ]:
MeanMode([1,2,3])

### Have the function PrimeMover(num) return the numth prime number. The range will be from 1 to 10^4. For example: if num is 16 the output should be 53 as 53 is the 16th prime number.

In [10]:
def PrimeMover(num):
    lst = []
    cnt = 0
    m = 10**4
    for i in range(2,m+1):
        for j in range (2,i):
            if i%j == 0:
                break
        else:
            lst.append(i)
      
    return lst[num-1]

In [11]:
PrimeMover(1)

2

In [13]:
PrimeMover(45)

197

In [ ]:
def PrimeMover(num):
    limit = 10**5  # Adjust the limit as needed to find the nth prime number
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False
    prime_count = 0

    for current in range(2, limit + 1):
        if sieve[current]:
            prime_count += 1
            if prime_count == num:
                return current
            for multiple in range(current * current, limit + 1, current):
                sieve[multiple] = False

# Example usage:
 # This will print the 10th prime number

In [ ]:
nth_prime = PrimeMover(2)
print(nth_prime)

### Count num of digit in a integer

In [ ]:
def count(x):
    cnt = 0
    while x>0:
        x//=10
        cnt+=1
        
    return cnt

In [ ]:
count(231)

In [ ]:
# 2nd approch
def count(x):
    x = len(str(x))
    return x

In [ ]:
count(231)

### Write a Python program to reverse a integer in python

In [ ]:
def rev(x):
    x= str(x)
    x = x[-1::-1]
    return x

In [ ]:
rev(8983)

In [ ]:
# 2nd approch

def rev1(x):
    reverse = 0
    while x>0:
        last_digit = x%10
        reverse = reverse*10 + last_digit  
        x = x//10

    return reverse

In [ ]:
rev1(8943)

### Write a program in Python to check whether an integer is Armstrong number or not.

#### it's a number such , each raised to the power of the number of digits in the number, is equal to the number itself.

In [1]:
def arm(x):
    sum = 0
    s = str(x)
    l = len(s)
    for i in s:
        sum +=int(i)**l
    if sum == x:
        return "Armstrong"
    else:
        return "Not Armstrong"

In [2]:
arm(153)

'Armstrong'

In [3]:
arm(27)

'Not Armstrong'

In [ ]:
# 2nd Approch

def arm1(x):
    l = len(str(x))
    temp = x
    sum = 0
    while x>0:
        last = x%10
        sum += last**l
        x//=10
    if sum == temp:
        return "Armstrong"
    else:
        return "Not Armstrong"

In [ ]:
arm1(153)

### Write a program in Python to check given number is prime or not.

In [1]:
def prime(n):
    if n == 0 or n == 1:
        return "neither prime nor composite"
    cnt = 0
    for i in range(2,n):
        if n%i == 0:
            cnt +=1
    if cnt > 0:
        return "not prime"
    else: 
        return "prime"

In [2]:
prime(230)

'not prime'

In [3]:
prime(2)

'prime'

In [4]:
prime(4)

'not prime'

In [ ]:
# 2nd approch
# When you multiply two numbers
# together to get a product, at least one of the numbers must be less than or equal to the square root of the product.
def prime1(x):
    for i in range(2,int(x**0.5)+1):
        if x%i== 0:
            return "not Prime"
        else:
            return "prime"

In [ ]:
prime1(250)

In [ ]:
prime1(5)

### Write a program in Python to print the Fibonacci series using iterative method.

In [ ]:
def fib(x):
    lst=[0,1]
    for i in range(x-2):
        lst.append(lst[i]+lst[i+1])
    return lst

In [ ]:
fib(5)

### Write a program in Python to check whether a number is palindrome or not using iterative method.

In [ ]:
def pal(x):
    x = str(x)
    if x == x[::-1]:
        return "palindrome"
    else:
        return "Not palindrome"

In [ ]:
pal(151)

In [ ]:
pal(453)

In [ ]:
# 2nd approch

def pal1(x):
    rev =0
    temp =x
    while x>0:
        last = x%10
        rev = rev*10 + last
        x//=10
    if rev == temp:
        return "palindrome"
    else:
        return "Not palindrome"

In [ ]:
pal1(151)

In [ ]:
pal1(150)

### Write a program in Python to find greatest among three integers.

In [ ]:
def greatest(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z

In [ ]:
greatest(1,2,3)

### Write a program in Python to check if a number is binary?

In [ ]:
def is_binary(number_str):
    # Loop through each character in the string
    for digit in number_str:
        if digit not in ('0', '1'):
            return "Not Binary"  # If any character is not '0' or '1', it's not binary
    return "Binary"

In [ ]:
is_binary("100")

In [ ]:
is_binary("102")

### Write a program in Python to find sum of digits of a number

In [ ]:
def sumd(x):
    sum=0
    x  = str(x)
    for i in x:
        sum+= int(i)
    return sum

In [ ]:
sumd(23)

In [ ]:
# 2nd approch

In [ ]:
def sumd1(x):
    sum=0
    while x>0:
        n = x%10
        sum+=n
        x//=10
    return sum

In [ ]:
sumd1(23)

### Write a program in Python to swap two numbers without using third variable?

In [ ]:
# 2nd approch 
def swap1(a,b):

    a=a-b
    b=a+b
    a=b-a
    return a,b

In [ ]:
swap1(2,3)

In [ ]:
swap1(149,523)

In [ ]:
swap1(23,142)

In [ ]:
# 3rd approch

In [ ]:
def swap2(y,x):
    return x,y

In [ ]:
swap2(23,42)

### Write a program in Python to find prime factors of a given integer.

In [ ]:
def pfac(n):
    i =2 
    fact = []
    while i*i <=n:
        if n%i:
            i+=1
        else:
            n//=i
            fact.append(i)
    if i>1:
        fact.append(i)
    return fact

In [ ]:
pfac(12)

In [ ]:
pfac(50)

### Write a program in Python to find given number is perfect or not

In [ ]:
def per(x):
    s = 0
    for i in range(1,x):
        if x%i == 0:
            s+=i
    if s == x:
        return "Perfect"
    else:
        return "Not Perfect"

In [ ]:
per(6)

In [ ]:
per(5)

In [ ]:
per(28)

### Find Factorial

In [ ]:
def fact(x):
    fact = 1
    for i in range(1,x+1):
        fact*=i
    return fact

In [ ]:
fact(4)

In [ ]:
fact(5)

In [39]:
def fact(num):
    f= 1
    if num == 1:
        return 1
    num = num* fact(num-1)
    return num

In [40]:
fact(5)

120

### Python Program to print Prime Number in a given range.

In [ ]:
# In Python, the else clause in a for loop can be used 
#to execute a block of code when the loop completes normally, i.e., without encountering a break statement.

In [7]:
def p_range(x):
    lst = []
    for i in range(2,x+1):
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            lst.append(i)
    return lst

In [9]:
p_range(23)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [ ]:
for i in range(2,2):
    print(i)

### Python Program to calculate the power without using POW function

In [ ]:
#2nd approch

def p(num,power):
    
    result = 1
    for i in range(power):
        result*=num
    return result

In [ ]:
p(5,4)

In [ ]:
p(5,0)

### Python Program to Convert Decimal Number into Binary.

In [ ]:
def bi(num):
    return bin(num)

In [ ]:
x= bi(10)

In [ ]:
x

In [ ]:
bi(20)

### Python Program to check the given year is a leap year or not.

In [ ]:
#The year must be evenly divisible by 4.
# If the year is divisible by 100, then it must also be divisible by 400.

def leap(x):
    if x%4 ==0:
        if x% 100 ==0:
            if x%400 ==0:
                return "Its a leap year"
            else:
                return "Its not a leap year"
        else:
            return "Its  a leap year"
    else: 
        return "Its not a leap year"

In [ ]:
leap(2000)

In [ ]:
leap(2023)

In [ ]:
# what do you mean by list comprhension in python
# list comprehension is the short and elegant way to define a list from the existing list

In [14]:
l1 = [1,2,3,4,5,6,7,8]
l2 = [i for i in l1 if i%2==0]
l2

[2, 4, 6, 8]

In [15]:
l_st = [i if i%2 ==0 else i+1  for i in l1 ]
l_st

[2, 2, 4, 4, 6, 6, 8, 8]

In [16]:
lst = [i for i in l1 if i%2 ==0 else i+1 ]

SyntaxError: invalid syntax (306362660.py, line 1)

In [ ]:
#find the square of each number in the list using apply

In [ ]:
l1

In [ ]:
l2  = list(map(lambda x:x*x,l1))

In [ ]:
# show use of eval

# eval is used to determine the type of input(default python takes string)

In [ ]:
s = eval(input("enter "))

In [ ]:
type(s)

In [ ]:
s = eval(input("enter "))

In [ ]:
type(s)

In [ ]:
# map : map means maps each element in the list to the condition it doesnot filter the list it return all element value
# wrt to that function

In [ ]:
t1 = tuple(l1)

In [ ]:
t1

In [ ]:
t2 = tuple(map(lambda x:x%2==0 ,t1))

In [ ]:
t2

In [ ]:
# filter : it filter the list based on the particular condition

In [ ]:
t3 = tuple(filter(lambda x: x%2==0 ,t1)) # the same u can achieve with list comprehension but for list only not for tuple
# for tuple u have to use  filter

In [ ]:
t3

In [ ]:
#In summary, map applies a function to each element and returns the transformed values in an 
#iterable, while filter applies a function to each element and returns only the elements that satisfy a specific condition

In [ ]:
l1

In [ ]:
l1= [i for i in l1 if i %2 ==0]
l1

In [ ]:
#append and extend in list

In [ ]:
l1

In [ ]:
l1.append(12)

In [ ]:
l1

In [ ]:
# i want to add 12 and 13 in the list in one go
l1.append([12,13])
l1

In [ ]:
# above ans is wrong

In [ ]:
l1.extend([12,13,14]) # to add morre than one element we use extend
l1

In [ ]:
import pandas as pd
data = {'car':['Altroz','Nexon','Harier','Safari','Punch'],
        'Mileage':[18,15,10,8,24]}
df = pd.DataFrame(data)
df

In [ ]:
# create a col which show low mileage if mileage less than 10 and show high if greater than 10

In [ ]:
df['mlg']= df['Mileage'].apply(lambda x:"low" if x<=10 else "High")
df

In [ ]:
# data frame : apply 
#list : map and filter

In [ ]:
# second highest
lst = [4,2,4,3,2,4,1,5]
lst = list(set(lst) )# converting to set for removing duplicated values
lst.sort()
lst[-2]

In [ ]:
lst = ['Arun','sas','pop','pizza']

def pal(lst):
    for i in lst:
        if i == i[::-1]:
            print(f"The string {i} is plaindrome")
        else:
            print(f"The string {i} is not plaindrome")

In [ ]:
lst = ['Arun','sas','pop','pizza']
def pal(text):
    return text == text[::-1]

In [ ]:
lst = list(filter(pal,lst))

In [ ]:
lst

In [ ]:
lst = list(map(pal,lst))

In [ ]:
lst

Question: Given a string, write a function to check if it is an anagram of another string.

In [ ]:
def anagram(word1,word2):
    return sorted(word1)==sorted(word2)

In [ ]:
anagram('lst','tsl')

In [ ]:
anagram('kl','la')

Question: Given two lists, write a function that returns the elements that are common to both lists.

In [ ]:
l1 = [1,2,3,3]
l2= [3,4,5]

In [ ]:
com = []
for i in set(l1):
    for j in set(l2):
        if i == j:
            com.append(i)

In [ ]:
com

In [ ]:
def com(l1,l2):
    return list(set(l1)&set(l2))  # intersection operation

In [ ]:
com(l1,l2)

Write a Python function to merge two dictionaries. If both dictionaries have the same key, prefer the second dictionary's value.

In [ ]:
d1 = {'a':'arun','b':'bot'}
d2 = {'a':'arpit','c':'champ'}

In [2]:
d1 = {"a": 1, "b": 2, "c": 3}
d2 = {"b": 20, "c": 30, "d": 40}
d3 = {}

# Copy all key-value pairs from d1 to d3
for key, value in d1.items():
    d3[key] = value

# Update values in d3 from d2 for common keys
for key, value in d2.items():
   
    d3[key] = value
        
print(d3)

{'a': 1, 'b': 20, 'c': 30, 'd': 40}

### Merege 2 sorted list

In [29]:
def merge(lst1,lst2):
    merg_lst = []
    i=j=0
    while(i<len(lst1) and j <len(lst2)):
        if lst1[i]<lst2[j]:
            merg_lst.append(lst1[i])
            i+=1
        else:
            merg_lst.append(lst2[j])
            j+=1
    while(i<len(lst1)):
        merg_lst.append(lst1[i])
        i+=1
    while(j<len(lst2)):
        merg_lst.append(lst2[j])
        j+=1
    return merg_lst

In [30]:
merge([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [ ]:
 Linked List Cycle Detection

In [ ]:
Find the Middle of Linked List
Check if a Tree is Balanced
 Implement BFS for a graph.
do python dsa question from krish naik repo