In [1]:
l1 = ["Sam", "Karan", "Mohit"]

In [2]:
" ".join(l1)

'Sam Karan Mohit'

In [3]:
"".join(l1)

'SamKaranMohit'

In [4]:
l1

['Sam', 'Karan', 'Mohit']

In [5]:
l2 = [100.0,200.43,77]

In [11]:
l3 = tuple(map(int,l2))

In [12]:
l3

(100, 200, 77)

In [15]:
def sq(x1):
    return x1*x1

l4 = tuple(map(sq,l3))
l4

(10000, 40000, 5929)

In [16]:
l5 = any(x>80 for x in l3)
l5

True

In [19]:
l5 = [i+1 for i in l3 if i>80 ]

In [20]:
l5

[101, 201]

## String

In [21]:
# Python program to check whether the string is Symmetrical or Palindrome

In [47]:
def check(string):
    if ( string == string[::-1]):
        return "String is Palindrome"
        
    elif len(string)% 2 == 0 and string[:(len(string)//2)]== string[len(string)//2:]:
        return " String is Symmetric " 
    
    else:
        return "Niether palendrome nor symmetric"

In [48]:
check("khokho")

' String is Symmetric '

In [49]:
check("1212")

' String is Symmetric '

In [50]:
check("madam")

'String is Palindrome'

In [51]:
check("111189")

'Niether palendrome nor symmetric'

In [80]:
# Reverse Words in a Given String in Python
s = input("Enter String: ")

Enter String: you good

In [72]:
t1 = s.split()
t1

['you', 'good']

In [73]:
t1 = t1[::-1]
s= " ".join(t1)
s

'good you'

In [83]:
# 2nd approch
s = input("Enter String: ")

Enter String: Arun is good

In [84]:
t1 = s.split()[::-1]
s= " ".join(t1)

In [85]:
s

'good is Arun'

In [86]:
# Avoid Spaces in string length

In [87]:
st = "kara n 12 si ngh"

In [90]:
st= "".join(st)
st

'karan12singh'

In [89]:
len(st)

12

In [ ]:
#  Python program to print even length words in a string

In [100]:
st = "shym is a excellent boy"

In [101]:
l1= st.split()

In [102]:
l2 = []
for i in l1:
    if len(i)%2 == 0:
        l2.append(i)

In [103]:
st = " ".join(l2)
st

'shym is'