In [ ]:
# Write a Python program to unpack a tuple into several variables.

In [1]:
t1 = 1,2,4

In [2]:
x,y,z = t1

In [3]:
x

1

In [4]:
y

2

In [5]:
z

4

In [ ]:
# Write a Python program to add an item to a tuple.

In [7]:
# Approch 1
l1 = list(t1)

l1.append(5)
t1 = tuple(l1)

In [8]:
t1

(1, 2, 4, 5)

In [18]:
 # Approch 2
    
t1 = t1 + (9,)
t1

(1, 2, 4, 5, 9, 9)

In [19]:
# approch 3

t1[:] + (10,)

(1, 2, 4, 5, 9, 9, 10)

In [ ]:
# 6. Write a Python program to convert a tuple to a string.

In [28]:
t2 = 'a', 'b', 'c'
t2

('a', 'b', 'c')

In [30]:
c = ''.join(t2)  # join is used to combin element of itertable objects
c

'abc'

In [32]:
d= "-".join(t2)
d

'a-b-c'

In [ ]:
# Write a Python program to find repeated items in a tuple.

In [39]:
t1 = t1+(2,)
t1

(1, 2, 4, 5, 9, 9, 2)

In [40]:
for i in range(len(t1)):
    if t1[i] in t1[i+1:]:
        print(t1[i])

2
9

In [ ]:
# Write a Python program to check whether an element exists within a tuple

In [41]:
t1

(1, 2, 4, 5, 9, 9, 2)

In [42]:
2 in t1

True

In [ ]:
# 2. Write a Python program to remove an item from a tuple.

In [44]:
t2 = t1[0:3] + t1[4:]

In [45]:
t2

(1, 2, 4, 9, 9, 2)

In [ ]:
# find the index of a item in tuple

In [46]:
t2.index(2)

1

In [49]:
t3  = (('a',1),('b',2))
dict((x,y)for x,y in t3)

{'a': 1, 'b': 2}