In [ ]:
 Write a function that checks if a string contains all letters of the alphabet at least once.

In [2]:
import string

def contains_all_alphabets(s):
    alphabet = set(string.ascii_lowercase)
    return set(s.lower()) >= alphabet

test_string = "The quick brown fox jumps over the lazy dog"
print(contains_all_alphabets(test_string))

True

In [3]:
alphabet = set(string.ascii_lowercase)
alphabet

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [17]:
s1 = {'a','b','c','e'}
s2 = {'a','b','c','d'}

In [20]:
s1>s2

False

#### Write a function that checks if a given string is a valid IPv4 address.

In [34]:
import regex as re
def ip(st):
    pattern = '^\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}$'
    return re.match(pattern,st)

In [35]:
ip('123.156.785.893')

#### Given a list of numbers, write a function to compute the mean, median, and mode

In [46]:
def mode(lst):
    d = {}
    m = 0
    mode = ''
    for i in lst:
        try:
            d[i]+=1
        except:
            d[i]=1
    for key,value in d.items():
        if value > m:
            m = value
            mode = key
    return mode

In [48]:
mode([1,2,2,4,4,4,4])

4

#### Given a string, write a function that returns the first non-repeated character.

In [59]:
def non(st):

    d = {}
    m = 0
    for i in st:
        try:
            d[i]+=1
        except:
            d[i]=1
    for key,value in d.items():
        if value == 1:
            return key

In [60]:
non("swiss")

'w'

### Write a function to determine if a string has all unique characters (i.e., no character is repeated).

In [63]:
def un(st):
    d={}
    for i in st:
        try:
            d[i]+=1
        except:
            d[i]=1
    for key,value in d.items():
        if value>1:
            return False
    else:
        return True

In [65]:
un("abbc")

False

#### Write a function that returns the longest consecutive subsequence in a list of numbers.

In [8]:
def cons(lst):
    d = {}
    cnt = 0
    l = 0
    max_con = []

    for i in range(len(lst) - 1):
        if lst[i] == lst[i + 1] - 1:
            d[cnt] = d.get(cnt, []) + [lst[i]]
        else:
            d[cnt] = d.get(cnt, []) + [lst[i]]
            cnt += 1

    # Check the last element separately
    if lst[-2] == lst[-1] - 1:
        d[cnt-1] = d.get(cnt-1, []) + [lst[-1]]
    else:
        
        d[cnt] = d.get(cnt, []) + [lst[-1]]
    
    print(d)

    for key, value in d.items():
        if len(value) > l:
            max_con = value
            l = len(value)

    return max_con

# Example usage:
lst = [1, 2, 3, 5, 6, 7, 8, 10, 11, 12,13,14,15,16]
result = cons(lst)
print(result)

{0: [1, 2, 3], 1: [5, 6, 7, 8, 16], 2: [10, 11, 12, 13, 14, 15]}
[10, 11, 12, 13, 14, 15]

#### Question: Given a list of integers, write a function to move all zeros to the end of the list while maintaining the order of the other elements.

In [14]:
def ze(lst):
    lst2 = []
    lst3 = []
    for i in range(len(lst)):
        if lst[i] == 0:
            lst2.append(0)
        else:
            lst3.append(lst[i])
            
    lst3 +=lst2
    return lst3

In [15]:
ze([0,1,0,3,0,8,0,0])

[1, 3, 8, 0, 0, 0, 0, 0]

In [20]:
l1 = ['abc','a','ab','b','ba','bb']

In [24]:
l1.sort()

In [25]:
l1

['flight', 'flow', 'flower']

### Write a function to find the longest common prefix of a list of strings.

In [28]:
def long_pre(lst):
    lst.sort
    first_str = lst[0]
    last_str = lst[-1]
    pre = ""
    for i in range(len(first_str)):
        if i<len(last_str) and first_str[i] == last_str[i]:
            pre+=first_str[i]
        else:
            break
    return pre

In [30]:
l1 = ["flower", "flow", "flight"]

In [31]:
long_pre(l1)

''

### Write a function that returns the intersection of two sorted arrays. Assume each array does not have duplicates.

In [13]:
def inter(l1,l2):
    l3 =[]
    for i in l1:
        if i in l2: # in operator again runs a loop inside
            l3.append(i)
    return l3
# This approch have large time complexity

In [14]:
arr1 = [1, 2, 4, 5, 6]
arr2 = [2, 3, 5, 7]

In [15]:
inter(arr1,arr2)

[2, 5]

In [20]:
def inter(lst1,lst2):
    i =0
    j =0
    l3 = []
    while i<len(lst1) and j<len(lst2):
        if lst1[i] == lst2[j]:
            l3.append(lst1[i])
            i+=1
            j+=1
        elif lst1[i]<lst2[j]:
            i+=1
        else:
            j+=1
    return l3

In [21]:
arr1 = [1, 2, 4, 5, 6]
arr2 = [2, 3, 5, 7]

In [22]:
inter(arr1,arr2)

[2, 5]

### Write a function that returns the nth number in the Fibonacci sequence using recursion.

In [41]:
def n_num(n):
    
    lst = [0,1]
    for i in range(n-1):
        lst.append(lst[i]+lst[i+1])
    return lst[-1]

In [42]:
n_num(5)

5

In [35]:
def fibonacci(n):
    
    if n==1 or n==0:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)

In [40]:
fibonacci(5)

5

### Write a function to flatten a nested list of integers. Assume each element is either an integer or a list.

In [48]:
import numpy as np
l1 = [[1,2,3],[4,5,6]]
list(np.array(l1).flatten())

[1, 2, 3, 4, 5, 6]

### Sort a list of dates

In [63]:
def date_sort(lst):
    
    month = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
    
    for i in range(len(lst)-1,0,-1):
        for j in range(i):
            if lst[j][-4::1] > lst[j+1][-4::1]:
                temp = lst[j]
                lst[j] = lst[j+1]
                lst[j+1] = temp
            elif lst[j][-4::1] == lst[j+1][-4::1]:
                if month.index(lst[j][3:6])>month.index(lst[j+1][3:6]):
                    temp = lst[j]
                    lst[j] = lst[j+1]
                    lst[j+1] = temp
                elif month.index(lst[j][3:6])==month.index(lst[j+1][3:6]):
                    if lst[j][0:2] > lst[j+1][0:2]:
                        temp = lst[j]
                        lst[j] = lst[j+1]
                        lst[j+1] = temp
    return lst

In [64]:
lst = ['03/jan/2023',
'04/apr/2022',
'08/jun/2023',
'15/aug/2022',
'17/feb/2023',
'18/oct/2023',
'21/jul/2024',
'23/mar/2024',
'12/may/2025',
'02/sep/2025']

In [55]:
date_sort(lst)

['04/apr/2022',
 '15/aug/2022',
 '03/jan/2023',
 '17/feb/2023',
 '08/jun/2023',
 '18/oct/2023',
 '23/mar/2024',
 '21/jul/2024',
 '12/may/2025',
 '02/sep/2025']

In [70]:
month = ['jan','feb','mar','apr','may','jun','july','aug','sep','oct','nov','dec']

In [71]:
def convert_date(date_str):
        day, mon, year = date_str.split('/')
        return int(year), month.index(mon)+1, int(day) # returning a tuple

In [72]:
sorted(lst, key = convert_date)

['04/apr/2022',
 '15/aug/2022',
 '03/jan/2023',
 '17/feb/2023',
 '08/jun/2023',
 '18/oct/2023',
 '23/mar/2024',
 '21/july/2024',
 '12/may/2025',
 '02/sep/2025']