In [ ]:
# Print the following pattern

In [ ]:
*
* *
* * *
* * * *

In [16]:
# by using for loop
for row in range(1,5):
    for col in range(row):
        print("* ", end = " ")
    print("\n")

*

*  *

*  *  *

*  *  *  *

In [11]:
# by using while loop

row = 1

while(row<=4):
    col =1
    while(col<=row):
        print("* ", end =" ")
        col+=1
    row+=1
    print("\n")

*

*  *

*  *  *

*  *  *  *

In [ ]:
1
1 2
1 2 3
1 2 3 4

In [15]:

for row in range(1,5):
    for col in range(row):
        print(col+1," ", end = " ")
    print("\n")

1

1   2

1   2   3

1   2   3   4

In [ ]:
4 3 2 1 
3 2 1 
2 1 
1

In [14]:

for row in range(4,0,-1):
    for col in range(row,0,-1):
        print(col," ", end = " ")
    print("\n")

4   3   2   1

3   2   1

2   1

1